<% const body = `
<h1>Your one-time password</h1>
<p>Hi ${name},</p>
<p>Use the code below to sign in to your Socious account:</p>
<div class="code-box">${code}</div>
<p>This code will expire in 10 minutes. If you didn't request this, you can safely ignore this email.</p>
` %>
<%- include('_layout', { body, subject: 'One time password' }) %>
