# service setup
PORT=5065
SECRET='test secret key'
# allow local instance of web app
ALLOWED_ORIGINS="localhost:3000"

# remote API setup
FOO_API_URL="https://a.b.example.com/api/v1"
FOO_API_KEY="EDITME"

# DB setup
PGHOST=localhost
PGPORT=5435
PGDATABASE=socious
PGUSER=socious
PGPASSWORD=passwd

# Event queue setup
NATS_HOSTS=localhost:4222
NATS_TOKEN=secret

# Idealist config
IDEALIST_TOKEN=743e1f3940484d7680130c748ed22758
IDEALIST_SINCE=
WAIT_BETWEEN_PROJECT=500
WAIT_BREAK=1000
