<!doctype html>
<html lang="{{ app()->getLocale() }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body>
        
        <p>Hi <%=name%>,</p>
        <br>
        <b><%=code%></b>
        <br/><hr>
        <div class="signature">
            <p>
                https://socious.io<br/>
                info@socious.io
            </p>
            <hr>
            <p>Copyright Socious Inc. All rights reserved.</p>
        </div>
    </body>
</html>
